---
import BottomNavigation from '@/components/BottomNavigation.astro';
import Page from '@/layouts/Page.astro';
import { ArrowLeftIcon } from 'lucide-svelte';

interface Props {
	desc?: string;
	title?: string;
	activeUrl: string;
	/** string: back link href */
	back?: string;
}
const { desc, title, activeUrl, back = false } = Astro.props;
---

<Page {title} {desc}>
	<div class="bg-base-100 flex h-[calc(100vh-4rem)] flex-col overflow-auto">
		{
			// just a heading
			Astro.slots.has('heading') && !Astro.slots.has('button') && (
				<h1 class="bg-base-100 sticky top-0 z-10 mb-2 bg-opacity-80 px-2 py-4 text-3xl font-bold backdrop-blur">
					{back && (
						<a
							href={back}
							class="btn btn-sm btn-ghost btn-circle align-text-bottom"
							aria-label="Go back"
						>
							<ArrowLeftIcon />
						</a>
					)}
					<span class="truncate">
						<slot name="heading" />
					</span>
				</h1>
			)
		}
		{
			// heading with awesome button
			// backdrop problem: elements with position relative
			Astro.slots.has('heading') && Astro.slots.has('button') && (
				<h1 class="bg-base-100 sticky top-0 z-10 mb-2 flex items-center justify-between gap-4 bg-opacity-80 px-2 py-4 text-3xl font-bold backdrop-blur">
					<span class="truncate">
						{back && (
							<a
								href={back}
								class="btn btn-sm btn-ghost btn-circle align-text-bottom"
								aria-label="Go back"
							>
								<ArrowLeftIcon />
							</a>
						)}
						<slot name="heading" />
					</span>

					<slot name="button" />
				</h1>
			)
		}

		<div class="p-2">
			<slot />
		</div>
	</div>

	<BottomNavigation {activeUrl} />
</Page>
